<footer class="footer">
    
    <div class="allitem">
        <a href="https://www.dot-st.com/lowrysfarm/?dispNo=001003" target="_blank">
            ALL ITEMS
            <div class="footer_arrow">
                <div class="arrow"></div>
            </div>
        </a>
    </div>
    <div class="link insta">
        <a href="https://www.instagram.com/lowrysfarmkids_official/" target="_blank">
            OFFICIAL INSTAGRAM
            <span class="wave">
                <img src="<%= rootURL %>/assets/img/insta_wave.png" alt="">    
            </span>
        </a>
    </div>
    <div class="link official">
        <a href="https://www.dot-st.com/lowrysfarm/?dispNo=001003" target="_blank">
            OFFICIAL ONLINE STORE
            <span class="wave">
                <img src="<%= rootURL %>/assets/img/online_wave.png" alt="">    
            </span>
        </a>
    </div>
    <div class="footer_img">
        <img src="<%= rootURL %>/assets/img/footer.jpg" alt="">    
    
        <div class="credit">
            Photo: Masaya Tanaka [TRON]<br>
            Styling: Mana Yamamoto<br>
            Hair: Keiko Tada [mod’s hair]<br>
            Make-up: Asami Taguchi [Home Agency]<br>
            Model: Kymberli Raschke, Liam Mynatt[Sugar & Spice]<br>
            Design: Atsuko Matsumoto<br>
            Development: Riho Yamamoto [Rhino]<br>
            Movie: Takuya Nakamura[Rhino]<br>
            Edit: Rhino inc.
        </div>
        <div class="footer_txt">
            <div class="footer_lf">
                <a href="https://www.dot-st.com/lowrysfarm/?dispNo=001003" target="_blank">
                    LOWRYS FARM KIDS
                </a>
            </div>
            <p class="caption">
                “INNOCENT WORLD”<br>
                2025 Spring Collection
            </p>
        </div>
        <p class="copyright">
            Copyright © Adastria Co., Ltd. All rights reserved.
        </p>
    </div>
</footer>