@use './_reset';
@use './_mixin' as *;
@use './_common' as c;


.footer{
    margin-top: calc(90.5 / c.$spw) * 100%;
    overflow: hidden;
}

.allitem{
    &:hover{
        a{
            color: #fff;
            background: c.$pink;
            &::before {
                border-top: solid 1px #fff;
                border-right: solid 1px #fff;
            }
            .footer_arrow{
                background: #fff;
            }
        }
    }
    a{
        position: relative;
        display: block;
        width: calc(406.9 / c.$spw) * 100%;
        margin: 0 auto;
        border-radius: 30px;
        border: solid 1px c.$pink;
        line-height: 1;
        padding: calc(38.94 / c.$spw) * 100% 0;
        font-size: calc(32.62 / c.$spw * 100vw);
        text-align: center;
        color: c.$pink;
        font-weight: 500;
        background: none;
        transition: all .3s ease;
        @include pc{
            width: calc(561.34 / c.$main) * 100%;
            border-radius: 60px;
            font-size: calc(32.62 / c.$pcw * 100vw);
            padding: calc(53 / c.$main) * 100% 0;
        }


        &::before {
            content: '';
            width: 6px;
            height: 6px;
            border-top: solid 1px c.$pink;
            border-right: solid 1px c.$pink;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            margin-right: calc(48.5 / c.$spw) * 100%;
            @include pc{
                margin-right: calc(66.97 / 561.34) * 100%;
            }
          }



        .footer_arrow{
            position: absolute;
            width: calc(29.27 / 406.9) * 100%;
            top: 50%;
            right: 0;
            margin-right: calc(48.5 / c.$spw) * 100%;
            height: 1px;
            background: c.$pink;
            @include pc{
                margin-right: calc(66.97 / 561.34) * 100%;
            }
        }
    }
}

.link{
    font-size: calc(27 / c.$spw * 100vw);
    text-align: center;
    &:hover{
        a{
            .wave{
                animation: waveAnime .5s ease forwards;
            }
        }
    }
    @include pc{
        font-size: min(calc(33 / c.$pcw * 100vw),16.5px);
    }
    a{
        color: c.$pink;
        font-weight: 500;
        position: relative;
        .wave{
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            margin-bottom: -4px;
        }
    }
}
.insta{
    margin-top: calc(90 / c.$spw) * 100%;
}
.official{
    margin-top: calc(51.68 / c.$spw) * 100%;
}

.footer_img{
    width: 100%;
    position: relative;
    margin-top: calc(101.5 / c.$spw) * 100%;
    line-height: 0;


    .credit{
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1.55;
        margin-top: calc(50 / c.$spw) * 100%;
        margin-left: calc(48.8 / c.$spw) * 100%;
        font-size: calc(20 / c.$spw * 100vw);
        color: c.$pink;
        font-weight: 400;
        @include pc{
            font-size: min(calc(27 / c.$pcw * 100vw),13.5px);
            margin-left: calc(108 / c.$main) * 100%;
            margin-top: calc(208.66 / c.$main) * 100%;
        }

        .credit_inner{
            display: flex;
            p{
                white-space: nowrap;
            }
            .credit_right{
                margin-left: calc(100 / c.$main) * 100%;
            }
        }

    }

    
    .copyright{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1;
        margin-bottom: calc(42 / c.$spw) * 100%;
        font-size: calc(18 / c.$spw * 100vw);
        white-space: nowrap;
        color: #fff;
        mix-blend-mode: difference;
        @include pc{
            font-size: min(calc(27 / c.$pcw * 100vw),13.5px);
            margin-bottom: calc(50 / c.$main) * 100%;

        }
    }

    .footer_txt{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        text-align: center;
        color: c.$pink;
        margin-bottom: calc(108 / c.$spw)* 100%;
        .footer_lf{
            font-size: calc(56.68 / c.$spw * 100vw);
            font-weight: 400;
            white-space: nowrap;
            line-height: 1;
            a{
                color: c.$pink;
            }
            @include pc{
                font-size: min(calc(56.68 / c.$pcw * 100vw),28px);
            }

        }
        .caption{
            margin-top: calc(24 / c.$spw) * 100%;
            font-size: calc(26.67 / c.$spw * 100vw);
            font-weight: 400;
            line-height: 1.1;
            @include pc{
                font-size: min(calc(26.67 / c.$pcw * 100vw),13px);
                margin-top: calc(60 / c.$main) * 100%;
                line-height: 1.5;
            }
        }
    }
}