@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

.sec{
    width: 100%;
    .ph_wrap{
        position: relative;
    }
    .num{
        font-weight: 400;
        color: c.$pink;
        position: absolute;
        top: 0;
        left: 0;
        font-size: calc(35 / c.$spw * 100vw);
        line-height: 1;      
        padding-top: calc(35 / c.$spw) * 100%;  
        margin-left: calc(49 / c.$spw) * 100%;  
        z-index: 40;
        opacity: 1;
        transition: opacity .5s ease;
        @include pc{
            font-size: min(calc(48 / c.$pcw * 100vw),24px);
        }
        &.fadeout{
            opacity: 0;
        }
    }

    .look_ph{
        line-height: 0;
    }
    .item_detail{
        margin-top: calc(48.3 / c.$spw) * 100%;  
        margin-left: calc(50.26 / c.$spw) * 100%;  
        font-weight: 400;
        @include pc{
            margin-top: calc(78.3 / c.$main) * 100%;  
        }
        p{
            color: c.$pink;
            a{
                color: c.$pink;
                font-size: calc(27 / c.$spw * 100vw);
                line-height: calc(55 / 32);
                color: c.$pink;
                opacity: 1;
                transition: opacity .3s ease;
                @include pc{
                    font-size: min(calc(32 / c.$pcw * 100vw),16px);
                }
                &:hover{
                    opacity: 0.5;
                }
            }
        }


        .shopnow{
            padding-top: calc(35 / c.$spw) * 100%;
            font-size: calc(27 / c.$spw * 100vw);
            line-height: 1;
            @include pc{
                font-size: min(calc(33 / c.$pcw * 100vw),16.2px);
                padding-top: calc(35 / c.$main) * 100%;
            }
            &:hover{
                .shop{
                    .wave{
                        animation: waveAnime .5s forwards;
                    }
                }
                .arrow{
                    transform: translateX(8px);
                }
            }
            a{
                color: c.$pink;
                position: relative;
                display: flex;
                vertical-align: middle;
                align-items: center;
                gap: 5px;
                .arrow{
                    display: block;
                    position: relative;
                    width: calc(29.27 / c.$spw) * 100%;
                    height: 1px;
                    background: c.$pink;
                    transform: translateX(0);
                    transition: transform .5s ease;

                    &::before,
                    &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 7px;
                    height: 1px;
                    border-radius: 9999px;
                    background-color: c.$pink;
                    transform-origin: 100% 50%;
                    }

                    &::before {
                    transform: translateY(-50%) rotate(40deg);
                    }

                    &::after {
                    transform: translateY(-50%) rotate(-40deg);
                    }
                }
            }
            
            .shop{
                display: block;
                position: relative;
                .wave{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    margin-bottom: -4px;
                    clip-path: inset(0);
                }
            }
        }
    }
}



.sec_1{
    margin-top: calc(132.5 / c.$spw) * 100%;
    @include pc{
        margin-top: calc(180.5 / c.$main) * 100%;

    }
    .look_ph{
        position: sticky;
        top: 0;
    }
    .look1-2{
        z-index: 20;
    }   
    .look1-3{
        z-index: 30;
        .look1-right{
            width: calc(390 / c.$spw) * 100%;
            margin: 0 0 0 auto;
            line-height: 0;
        }
        .look1-left{
            width: calc(390 / c.$spw) * 100%;
            line-height: 0;
        }
    }   
}


.sec_2{
    margin-top: calc(119 / c.$spw) * 100%;
    .look2_wrap{
        position: relative;
        padding-bottom: calc(402.2 / c.$spw) * 100%;
    }

    .look2-2{
        width: calc(530.94 / c.$spw) * 100%;
        margin: calc(56 / c.$spw) * 100% 0 0 calc(48 / c.$spw) * 100%;
    }     
    .look2-3{
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(355 / c.$spw) * 100%;
    }     
    .item_detail{
        position: absolute;
        bottom: 0;
        left: 0;
        margin:0 0 calc(161.6 / c.$spw) * 100% 0;
        padding-left: calc(78.9 / c.$spw) * 100%;
        width: 100%;
    }
}


.sec_3{
    
    margin-top: calc(119 / c.$spw) * 100%;
    .look_ph{
        position: sticky;
        top: 0;
    }
      
}



.sec_4{
    margin-top: calc(137 / c.$spw) * 100%;
    .look4-1{
        width: calc(592 / c.$spw) * 100%;
        margin: 0 auto;
    }     
    .flex{
        display: flex;
        margin-top: calc(85.3 / c.$spw) * 100%;
        gap: 2px;
    }   
    .look4-movie{
        width: calc(550 / c.$spw) * 100%;
        margin: calc(85.2 / c.$spw) * 100% auto 0;
    }
}

.sec_5{
    margin-top: calc(81 / c.$spw) * 100%;
    .look_ph{
        position: sticky;
        top: 0;
    }
    .look5-3{
        width: calc(500 / c.$spw)* 100%;
        margin: 0 0 0 auto;
    }
    .caption{
        display: inline;
    }
}

.sec_6{
    margin-top: calc(115 / c.$spw) * 100%;
    .look_ph{
        position: sticky;
        top: 0;
    }
    
    .look6-2{
        padding-top: calc(10 / c.$spw) * 100%;
    }  
}
.sec_7{
    margin-top: calc(89.5 / c.$spw) * 100%;
    margin-bottom: calc(185.4 / c.$spw) * 100%;
    .num{
        @include pc{
            padding-top: calc(10 / c.$main) * 100%;
        }
    }
    .ph_wrap{
        @include pc{
            padding-top: calc(90 / c.$main) * 100%;
        }
    }
    .look_ph{
        position: sticky;
        top: 0;
    }

    .look7-4{
        width: calc(510 / c.$spw) * 100%;
        margin: calc(85.7 / c.$spw) * 100% auto 0;
    }
    .caption{
        display: inline;
    }

}


.sp_movie{
    overflow: hidden;
    .loop_txt{
        width: 100%;
        margin: auto 0 0;
        font-size: 40px;
        line-height: 1em;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        color: c.$pink;
        line-height: 1;
        font-weight: 400;
        
        
        &.border{
            animation: txt-right 10s infinite linear 1s both;
            font-size: calc(45 / c.$spw * 100vw);
            @include pc{
                font-size: min(calc(55 / c.$pcw * 100vw),22.5px);
            }
        }
        &.yuw{
            animation: txt-left 10s infinite linear 1s both;
            font-size: calc(42 / c.$spw * 100vw);
            padding-bottom: 2px;
            @include pc{
                font-size: min(calc(45 / c.$pcw * 100vw),22.5px);
            }
        }
    }
    .footer_movie{
        width: calc(640 / c.$spw) * 100%;
        margin: calc(46/ c.$spw) * 100% auto;
        @include pc{
            margin: calc(62.35/ c.$spw) * 100% auto;

        }
    }
    
    @keyframes txt-left {
        from {
            transform: translateX(0)
        }
    
        to {
            transform: translateX(-100%)
        }
    }
    @keyframes txt-right {
        from {
            transform: translateX(0)
        }
    
        to {
            transform: translateX(100%)
        }
    }
    
}

.caption{
    font-size: calc(20 / c.$spw * 100vw);
    display: block;
    line-height: 1;
    @include pc{
        display: inline;
        font-size: calc(25 / c.$pcw * 100vw);
        
    }
}


video{
    width: 100%;
}

// video
.video{
    position: relative;
    &:before {
        aspect-ratio: 1 / 1;
        background-image: url(../img/off.png);
        background-size: 100% 100%;
        bottom: 0;
        content: "";
        right: 0;
        margin-bottom: calc(30 / c.$spw) * 100%;
        margin-right: calc(30 / c.$spw) * 100%;
        pointer-events: none;
        position: absolute;
        width: calc(100 / c.$spw) * 100%;
        @include pc{
            width: calc(116.38 / c.$main) * 100%;
            margin-bottom: calc(37.5 / c.$main) * 100%;
        margin-right: calc(37.25 / c.$main) * 100%;
        }
    }
}

.video:has(video.unmuted):before {
    background-image: url(../img/on.png);
}