@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

body{
    &.start{
        .sp_logo{
            animation: oplogo 2s ease forwards;
        }
        .hamburger_menu{
            opacity: 1;
        }
    }
}

.header{
    width: 100%;
    position: relative;
    &.start{
        .ttl{
            opacity: 1;
        }
        
        .mv_txt{
            opacity: 1;
        }
    }
    
    .ttl{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition:opacity 1s 1s ease;
        line-height: 1;
        text-align: center;
        color: c.$pink;
        font-weight: 500;
        white-space: nowrap;
        @include pc{
            transition:opacity 1s ease;
        }
    }
    h1{ 
        font-size: calc(55 / c.$spw * 100vw);
        font-weight: 500;
        @include pc{
            font-size: min(calc(65 / c.$pcw * 100vw),32.5px);
        }
    }
    h2{
        padding-top: calc(24.7 / c.$spw) * 100%;
        font-size: calc(33 / c.$spw * 100vw);
        line-height: 1;
        @include pc{
            padding-top: calc(36.67 / c.$main) * 100%;
            font-size: min(calc(40 / c.$pcw * 100vw),20px);
        }
    }

    .sp_logo{
        font-size: calc(55 / c.$spw * 100vw);
        color: c.$pink;
        position: absolute;
        line-height: 1;
        font-weight: 500;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        @include pc{
            display: none;
        }
    }
    .mv_txt{
        opacity: 0;
        transition: opacity 1s 2s ease-in;
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(41.01 / c.$spw) * 100%;
        margin: 0 calc(22.5 / c.$spw) * 100% calc(43.5 / c.$spw) * 100%;
        
    }
}



@keyframes oplogo {
    0%{
        opacity: 0;
    }
    30%,75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

.lead_wrap{
    margin-top: calc(87 / c.$spw) * 100%;
    margin-left: calc(75.94 / c.$spw) * 100%;
    display: block;
    color: c.$pink;
    @include pc{
        display: flex;
        vertical-align: top;
        align-items: first baseline;
        gap: calc(207 / c.$main) * 100%;
        justify-content: center;
        margin-left:0;
        margin-top: calc(138.7 / c.$main) * 100%;
        
    }
    .description{
        font-size: calc(35 / c.$spw * 100vw);
        font-weight: 500;
        @include pc{
            font-size: min(calc(40 / c.$pcw * 100vw),20px);
        }
    }
    .ja_lead{
        margin-top: calc(41 / c.$spw) * 100%;
        line-height: calc(40 / 27);
        font-size: calc(27 / c.$spw * 100vw);
        letter-spacing: 0.05em;
        @include pc{
            line-height: calc(47 / 27);
            font-size: min(calc(27 / c.$pcw * 100vw),13.5px);
        }
    }
    .en_lead{
        font-size: calc(24 / c.$spw * 100vw);
        line-height: calc(37 / 24);
        margin-top: calc(26.57 / c.$spw) * 100%;
        font-weight: 300;
        @include pc{
            line-height: calc(42 / 25);
            margin-top: calc(65.9 / c.$main) * 100%;
            font-size: min(calc(25 / c.$pcw * 100vw),12.5px);
        }
    }
}

