@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

.pc-wrap{
    &.start{
        .kids_logo,
        .pc_txt{
            opacity: 1;
        }
        .line{
            clip-path: inset(0);
        }
    }
}

.kids_logo{
    opacity: 0;
    width: 100%;
    transition: opacity 1s 1s ease;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    font-size: min(calc(72 / c.$pcw * 100vw), 36px);
    margin: calc(104 / c.$pcw) * 100% 0 0 calc(107 / c.$pcw) * 100%;
    white-space: nowrap;
    color: c.$pink;
    font-weight: 500;
    a{
        color: c.$pink;
    }
}
.line{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 1px;
    background: c.$pink;
    clip-path: inset(0 100% 0 0);
    transition: all 1s 1s ease;
}


.contents-inner{
    width: 100%;
    position: relative;
    z-index: 1000;
}

.pc_txt{
    opacity: 0;
    transition: opacity 1s 1s ease;
    position: fixed;
    width: calc(41.01 / c.$pcw) * 100%;
    max-width: 20.5px;
    top: 0;
    right: 0;
    margin-top: calc(157 / c.$pcw) * 100%;
    margin-right: calc(73 / c.$pcw) * 100%;
}

.wrapper{
    @include pc{
    width: calc(1342 / c.$pcw) * 100%;
    max-width: 671px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: calc(303 / c.$pcw) * 100%;
    border-left: solid 1px #FF56D2;
    border-right: solid 1px #FF56D2;
    background-color: rgba(255, 255, 255, 0.3);

    }
}


.pc-anchor_wrap{
    opacity: 0;
    transition: opacity 1s 1s ease;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: calc(149.65 / c.$pcw) * 100%;
    margin-left: calc(123.22 / c.$pcw) * 100%;
    display: none;
    width: -webkit-fill-available;
    @include pc{
        display: flex;
    }
    &.start{
        opacity: 1;
    }
    .anchor_link{
        white-space: nowrap;
        li{
            margin-bottom: 28.5px;
            &:last-of-type{
                margin-bottom: 0;
            }
            a{
                color: c.$pink;
                position: relative;
                font-weight: 500;
                .wave{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    clip-path: inset(0 100% 0 0);
                    transition: all .4s ease;
                    margin-bottom: -6px;
                }
            }

        }
    }
    .second_link{
        padding-left: calc(97 / c.$pcw) * 100%;
    }

}







.contents:has(#sec_1.on) .pc-anchor_wrap .first_line li:nth-child(1) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_1.on) .pc-anchor_wrap .first_line li:not(:nth-child(1)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_1.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}


.contents:has(#sec_2.on) .pc-anchor_wrap .first_line li:nth-child(2) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_2.on) .pc-anchor_wrap .first_line li:not(:nth-child(2)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_2.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}


.contents:has(#sec_3.on) .pc-anchor_wrap .first_line li:nth-child(3) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_3.on) .pc-anchor_wrap .first_line li:not(:nth-child(3)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_3.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}


.contents:has(#sec_4.on) .pc-anchor_wrap .first_line li:nth-child(4) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_4.on) .pc-anchor_wrap .first_line li:not(:nth-child(4)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_4.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}

.contents:has(#sec_5.on) .pc-anchor_wrap .first_line li:nth-child(5) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_5.on) .pc-anchor_wrap .first_line li:not(:nth-child(5)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_5.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}




.contents:has(#sec_6.on) .pc-anchor_wrap .second_link li:nth-child(1) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_6.on) .pc-anchor_wrap .second_link li:not(:nth-child(1)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_6.on) .pc-anchor_wrap .first_line li .wave{
    clip-path: inset(0 0 0 100%)!important; 
}

.contents:has(#sec_7.on) .pc-anchor_wrap .second_link li:nth-child(2) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_7.on) .pc-anchor_wrap .second_link li:not(:nth-child(2)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_7.on) .pc-anchor_wrap .first_line li .wave{
    clip-path: inset(0 0 0 100%);
}


.contents:has(#sec_8.on) .pc-anchor_wrap .second_link li:nth-child(3) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_8.on) .pc-anchor_wrap .second_link li:not(:nth-child(3)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_8.on) .pc-anchor_wrap .first_line li .wave{
    clip-path: inset(0 0 0 100%)!important; 
}



.contents:has(#sec_9.on) .pc-anchor_wrap .second_link li:nth-child(4) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_9.on) .pc-anchor_wrap .second_link li:not(:nth-child(4)) .wave{
    clip-path: inset(0 0 0 100%);
}

.contents:has(#sec_9.on) .pc-anchor_wrap .first_line li .wave{
    clip-path: inset(0 0 0 100%)!important; 
}

